@charset "utf-8";

/* CSS Document */

body {

	background-color: #000;



}

.imenu {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 16px;

	font-weight: normal;

	color: #FFF;

	text-decoration: none;

	}

.clear {

	clear:both;

}

.h1 {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 21px;

	color: #E9E9E9;

	font-weight: normal;

}

.h1 tt {

	font-size: 22px;

	color:#FFF;

	font-weight: normal;

}

.h2 tt {

	font-size: 22px;

	color:#FFF;

	font-weight: normal;

}

.h3 tt {

	font-size: 22px;

	color:#FFF;

	font-weight: normal;

}

.arti {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-weight: normal;

	color:#717275;

	padding-left:3px;

}

.arti_naranja {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 20px;

	font-weight: normal;

	color:#717275;

	padding-left:3px;

}

.art {

	font-size: 14px;

	color:#FFF;

	font-weight: normal;

	color:#F7941E;

}

.art_n6 {

	font-size: 14px;

	color:#FFF;

	font-weight: normal;

	color:#F7941E;

	font-family: Arial, Helvetica, sans-serif;

}

.ar_n1 {

	color: #F7941E;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 20px;

	font-weight: normal;

}

.ar_n3 {

	color: #F7941E;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 20px;

	font-weight: normal;

}

.ar_nr1 {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-weight: normal;

	color: #000;

}

.ar_n2 {

	color: #6D6E71;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 17px;

	font-weight: normal;

}

.arsub {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-weight: normal;

	color: #000;

}

.arsub1 {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 18px;

	font-weight: normal;

	color: #000;

}



.arsub2 {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-weight: bold;

	color: #000;

}

.abold {

	font-weight: bold;

	color: #FFF;

}

div h1 tt {

	color:#F7941E;

}

.txt_c1 {

	width:646px;

	float:left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-weight: normal;

	color: #000;

	line-height: 17px;

}

.txt_4 {

	width:100%;

	height:53px;

	float:left;

	margin-bottom:22px;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 13px;

	font-weight: normal;

	color: #000;

}

.titul_esc {

	height:100px;

	margin-bottom:15px;

	border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #E5E5E5;

}

.image_cen {

	float:left;

	width:193px;

	height:245px;

	margin-right:18px;

}

.image_cen1 {

	float:left;

	margin-right:15px;

}

.txt_c2 {

	float:left;

	width:420px;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-weight: normal;

	color: #000;

	line-height: 17px;

	

}

#main #colum_central .contenido_central .txt_c1 .txt_p p {padding-bottom:24px;

	padding-top:0px;}

#main #colum_central .contenido_central .txt_c2 .txt_p p {

	padding-bottom:25px;

	padding-top:0px;}

	#main #colum_central .contenido_central .txt_c3 .txt_p

	{

	padding-bottom:24px;

	padding-top:0px;}

.txt_c3 {

	width:650px;

	float:left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-weight: normal;

	color: #000;

	border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #999;

	/*border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #000;

	line-height: 17px; */

}

.txt_c4 {

	float:left;

	width:500px;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-weight: normal;

	color: #000;

	line-height: 17px;

}

.txt_c5 {

	width:645px;

	float:left;

	margin-top:10px;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-weight: normal;

	color: #000;

	margin-bottom:20px;

	border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #E5E5E5;

	line-height: 17px;

}

.contenido_central {

	padding-left:25px;

	padding-top:25px;

	padding-right:26px;

}

#main {

	width:990px;

	background-color:#000;

	margin:auto;



}

#colum_menu {

	float:left;

	width:147px;

	margin-right:8px;

}

#colum_central {

	float:left;

	width:692px;

margin-right:4px;

	background-color:#FFF;

}

#colum_ban {



	float:left;

	height:1583px;

	width:135px;

	background-color:#F5F5F5;

}

#logo {

	width:114px;

	height:222px;

}

.block1 {

	width:196px;

	float:left;

	margin-left:21px;

}

.block11 {

	width:196px;

	float:left;



}

.block2 {

	width:196px;

	float:left;

}

.bl {

	width:196px;

	float:left;

}

.bimage {

	width:125px;

	float:left;



	margin-top:27px;



	height:161px;

}

.bimage1 {

	margin-top:13px;

	width:196px;

	height:127px;

	float:left;

}

.line {

	width:192px;

	height:1px;

	border-top-width: 1px;

	border-top-style: dashed;

	border-top-color: #CCC;

	float:left;

	margin-top:20px;

	margin-bottom:20px;

}

.txt_desc {

	width:196px;

	float:left;



	margin-top:9px;

}



.txt_intro {

	width:483px;

	position:absolute;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-weight: normal;

	color: #BCBEC0;

	text-decoration: none;

	left: 56px;

	top: 107px;

	height: 120px;

	line-height: 16px;

	}

.txt_desc_1 {

	width:196px;

	float:left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11px;

	font-weight: normal;

	padding-top:10px;



}

.txt_desc_1 a {

	color:#F7941E;

}

.titula_cen1 {

	width:196px;

	height:70px;

	font-family: Arial, sans-serif;

	font-size: 20px;

	border-bottom-width: 1px;

	border-top-style: none;

	border-right-style: none;

	border-bottom-style: solid;

	border-left-style: none;

	float:left;

	border-bottom-color: #999;

}

.titula_cen1 .h2 tt {

	color:#F7941E;

}

#titula_menu {

	width:114px;

	height:35px;

	margin-left:12px;

	font-family: Arial, sans-serif;

	font-size: 20px;

	border-bottom-width: 1px;

	border-top-style: none;

	border-right-style: none;

	border-bottom-style: solid;

	border-left-style: none;

	border-bottom-color: #FFF;

}

#base_ .base_txt .menu_intro #titula_menu {

	

	width:170px;

	height:31px;

	margin-left:12px;

	font-family: Arial, sans-serif;

	font-size: 20px;

	border-bottom-width: 1px;

	border-top-style: none;

	border-right-style: none;

	border-bottom-style: solid;

	border-left-style: none;

	border-bottom-color: #FFF;

	

	}

#titula_news {

	width:128px;

	margin-left:12px;

	height:44px;

	font-family: Arial, sans-serif;

	font-size: 20px;

	border-bottom-width: 1px;

	border-top-style: none;

	border-right-style: none;

	border-bottom-style: solid;

	border-left-style: none;

	border-bottom-color: #FFF;

	margin-top:227px;

}

#base_ {

	width:990px;

	margin:auto;}

	.base_log {

		float:left;

		width:365px;}

		.base_nno {

			float:left;

			text-align:right;

		width:591px;

		margin-top:112px;

			}

		.base_txt {

	float:left;

	background-color:#282829;

	position:relative;

	width:591px;

	height:416px;

}

		.titul_ag {

	float:left;

	width:148;

	height:42px;

	text-align:center;

	position:absolute;

	background-color:#000;

	left: -18px;

	top: 40px;

			}

			.menu_intro {

	position:absolute;

	left: 46px;

	top: 253px;

	width: 537px;

}

#titula_edic {

	width:128px;

	height:68px;

	margin-left:12px;

	font-family: Arial, sans-serif;

	font-size: 20px;

	border-bottom-width: 1px;

	border-top-style: none;

	border-right-style: none;

	border-bottom-style: solid;

	border-left-style: none;

	border-bottom-color: #FFF;

	margin-bottom:15px;

}

.txt_1 {

	padding-left:15px;

	width:131px;

	font-size:12px;

	color: #FFF;

	font-family: Arial, Helvetica, sans-serif;

	padding-top:13px;

	line-height: 17px;

}

.txt_2 {

	float:left;

 margin-top:

}

.txt_3 {

	float:left;

 margin-top:;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-weight: bold;

	margin-left:12px;

	color:#FFF;

}

#menu {

	margin-top:15px;

	margin-left:12px;

	width:118px;

}

#menu a.link3 {

	padding-top:2px;

	margin-bottom:6px;

	background-color:#000;

	padding-left:3px;

	padding-right:3px;

	color:#FFFFFF;

	width:118px;

	height:13px;

	display:block;

	text-decoration:none;

	float:left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11px;



}

#menu a.link3:hover {

	background-color:#EDEDEE;

	color:#000;

}



#int {

	width:537px;

	margin-left:12px;

	margin-top:15px;

	}

	#main #colum_menu #form_news #acceso fieldset #form #news {

		width:143px; height:21px;}

		#main #colum_menu #form_news #acceso fieldset {

		

			padding:0px;}

#int a.link3:hover {

	background-color:#EDEDEE;

	color:#000;

}





#int a.link3 {

	padding-left:3px;

	padding-right:3px;

	margin-bottom:4px;

	color:#FFFFFF;



	height:18px;

	display:block;

	text-decoration:none;

	float:left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11px;



}

.entrar_txt {

	padding-top:28px;

	padding-left:32px;

	}

.entrar {

	width:95px;

	height:77px;

	position:absolute;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 19px;

	font-weight: normal;

	color: #000;

	left: 496px;

	top: 66px;

	border-right-width: 2px;

	border-right-style: solid;

	border-right-color:#F7941E;

	background-image: url(../images/entrar_bck.png);

	background-repeat: no-repeat;

}

.entrar a {

	color:#000;

	text-decoration: none;

}

img {

	border: none;

}

.entrar a:hover {

	color:#F7941E;



}

.footer_intro {

	margin-top:21px;

	margin-left:67px;

	width:921px;

	float:left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-weight: normal;

	color: #FFF;

}

#footer_m a.link3:hover {

	background-color:#EDEDEE;

	color:#000;

}

.footer_cultura {

	width:135px;

	height:25px;

	background-color:#F5F5F5;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-weight: normal;

	color: #000;

	padding-left:3px;

	padding-right:3px;

}

.footer_contact {

	width:89px;

	height:25px;

	background-color:#CE5F28;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-weight: normal;

	color: #fff;

	margin-left:292px;

	padding-left:3px;

	padding-right:3px;

}

#acceso fieldset {

	border:hidden;}

.footer_contact a {

	color:#FFF;

	text-decoration: none;

}

.footer_contact a:hover {

	color:#000;

	text-decoration: none;

}

#footer_m a.link3 {



	

	color:#C3C4C6;

	padding-left:3px;

	padding-right:3px;

	padding-top:2px;

	height:15px;

	display:block;

	text-decoration:none;

	float:left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11px;



}

#footer_m a.link3:hover {

	background-color:#F7941E;

	color:#000;

		font-family: Arial, Helvetica, sans-serif;

	font-size: 11px;



}

.footer_s {

	float:left;



	color:#C3C4C6;

	padding-left:3px;

	padding-right:3px;

	height:18px;

	width:5px;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11px;



}

.footer_st {

	float:left;

	color:#C3C4C6;

	padding-left:3px;

	padding-right:3px;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11px;



}

#footer_m {

	padding-top:10px;

	margin-left:12px;

	float:left;

	width:100%;

}

#form_news {

	float:left;

	height:66px;

	width:131px;

	padding-top:10px;

	padding-bottom:92px;

	margin-left:12px;

}

.formnews {

	color:#000;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 13px;

	font-weight: bold;

}

.publi1 {

	margin-top:20px;

	float:left;

	padding-left:3px;

	



}

.btn_news {

	width:30px;

	margin-top:15px;

	margin-left:95px;

	float:left;

	height:21px;

	text-align:center;

	border:hidden;

	padding-right:3px;

	background-color:#515153;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: bold;

	color: #fff;

	font-size: 18px;

	

}

#footer {

	float:left;

	width:692px;

	background-color:#FFF;

	height:93px;

	clear:both;

	border-top-width: 4px;

	border-top-style: solid;

	border-top-color: #000;

}

.footer_inter {

	padding-top:8px;

	float:left;

	width:100%;

	text-align:center;

}



<!-- AGREGADO -->



.txt_gal {

	width:196px;

	float:left;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-weight: normal;

	padding-top:10px;



}

.txt_gal a {

	color:#F7941E;

}

.subtitulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #5F610D;
}

#titula_nro_actual {
	width:128px;
	height:100px;
	margin-left:12px;
	font-family: Arial, sans-serif;
	font-size: 22px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #FFF;
	margin-bottom:15px;
}

.h3 a {
	color:#FFF;
	text-decoration: none
}

.h4 tt {
	font-size: 10px;
	color:#FFF;
	font-weight: normal;
}

#titula_otros {
	width:128px;
	height:48px;
	margin-left:12px;
	font-family: Arial, sans-serif;
	font-size: 22px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #FFF;
	margin-bottom:15px;
}

.txt_compartir2 {

}


