a img { border:none; }
a, a:visited { color:#7f8e91; text-decoration:none; outline:none; }
a:hover { color:#33a8e5; text-decoration:underline; }
p { margin:0 0 1em 0; padding:0; line-height:200%; }
ul { list-style-type:none; margin:0 0 1em 0; padding:0; line-height:0%; }
ul li { margin:0; padding:0; line-height:normal; zoom:1; }
ol { margin:0 0 1em 23px; padding:0; }
* html ol { margin:0 0 1em 23px; padding:0; }
ol li { padding:0 0 5px 0; }

table { border-collapse:collapse; width:100%; border:0; }
blockquote { margin:0 0 1em 0; padding:35px 20px 0 20px; border:1px solid #ccc; background:#fafafa url(img/quote1.gif) no-repeat 10px 10px; }
blockquote p { margin:0 0 5px 0; }
.quote_bottom { height:30px; background:#fafafa url(img/quote2.gif) no-repeat right ; margin-right:-10px; }
pre { border:1px solid #ccc; background:#fafafa; padding:10px 20px; margin:0 0 1em 0; overflow:auto; }
object { display:block; margin:0 auto; }
.wp-caption-text { text-align:center; }
.alignright { float:right; }
.alignleft { float:left; }
.aligncenter { display:block; margin-left:auto; margin-right:auto; }
.centered { display: block; margin-left:auto; margin-right:auto; }
.clear { clear:both; }



div.container { margin: auto; width: 510px; }
p { margin:0 0 1em 0; }

p.version { font-family: MicroExtendFLFRegular, Verdana, Tahoma, Arial; font-size: 1.2em; font-weight: normal; color: #33A8E5; margin-bottom: 0; }
p.description { font-family: MicroExtendFLFRegular, Verdana, Tahoma, Arial; font-size: 1.2em; font-weight: normal; line-height: 1em; }




#basic1 {
width:665px; margin-left:2px;  background-color:#FFF;}
#basic {
	width:195px;
	height:133px;
	padding:27px;
	background-color:#FFF;
	float:left;}
.basic {
	width:195px;
	height:133px;
	padding-bottom:27px;
	padding-top:27px;

	background-color:#FFF;
	float:left;}
	.basic_cent {
	width:195px;
	height:133px;
	padding-left:27px;
	padding-bottom:27px;
	padding-top:27px;

	background-color:#FFF;
	float:left;}
code { margin-bottom: 1em; }
ol.ltLighter { border: 1px solid #939393; font-size: 10px !important; margin-bottom: 1em !important; line-height: 1em !important; }
ol.ltLighter li { margin-bottom: 0; }
ol.ltLighter span { font-size: 10px !important; }
